<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Demo 11</title>
</head>

<body ng-app>
    <h1>Angular JS Events</h1>

    <input type="text" ng-model="groceries">
    <button ng-click="groceries = groceries + 'olle'">Klicka här
    </button>

    <h1>
        {{groceries}}
    </h1>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>



</body>
</html>